doctype html5
html
	head
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		title= Lokale pagina op lokale server binnen de AB
	body
		| Dit is een dummy pagina, normaal moet ab.mixlab.be sowieso, op alle DNS-servers, verwijzen naar het lokaal ip binnnen de AP.