doctype html5
html
	head
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		title ab.mixapp.be
	body
		h1 ab.mixapp.be
		| Dit is een dummy pagina.
		br
		| Normaal moet ab.mixapp.be sowieso, op alle DNS-servers, verwijzen naar het lokaal ip binnnen de AP.