doctype html5
html
	head
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		title= title
		link(type='text/fonts', rel='stylesheet', src="/vendor/Roboto")

		link(rel='stylesheet', href="/stylesheets/style.css")

		script(type='text/javascript', src='//code.jquery.com/jquery.min.js')
		script(type='text/javascript', src='/vendor/jquery.tmpl.min.js')
		script(type='text/javascript', src='/javascripts/index.js')
	body
		.content
			.header
				h2 mixapp.be

			.info
				| Hoewel het niet volledig van een leien dakje gelopen is, <b>bedanken we jullie enorm</b> om mee te doen met onze hackathons!
				br
				.small (Volgende keer werken we met een gele briefkaart :p )
				br
				br
				| Geïnteresseerd in de presentaties en filmpjes van het event?
				br
				| <b><a class="link" href="http://yourideabroughttolife.be/">Klik dan hier</a></b>.
				br
				br
				br
				br
				br
				.ip jouw ip: #{ip}
				br
				br
