doctype html5
html
	head
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		title= title
		link(type='text/fonts', rel='stylesheet', src="/vendor/Roboto")

		link(rel='stylesheet', href="/stylesheets/style.css")

		script(type='text/javascript', src='//code.jquery.com/jquery.min.js')
		script(type='text/javascript', src='/vendor/jquery.tmpl.min.js')
		script(type='text/javascript', src='/javascripts/index.js')
	body
		.content
			.header
				h2 Opgelet: je bent niet verbonden met ons <nobr>wifi-netwerk!</nobr>

			.info
				| Om mee te kunnen doen met de interactiviteit moet u met ons wifi-netwerk verbonden zijn:
				br
				br
				| netwerk: <b>mix2014!</b>
				br
				| wachtwoord: <b>mix2014!</b>
				br
				br
				| Verbind en herlaad deze pagina.
				br
				br
				br
				br
				br
				br
				br
				br
				.ip jouw ip: #{ip}
				br
				br
